In [1]:
t = (1, 2, 3)

In [2]:
my_list = [1, 2, 3]

In [3]:
type(t)

tuple

In [4]:
# Like lists, you can mix object types in tuples:
t2 = (1, 'two', 3.0)

In [5]:
# Does support indexing and slicing
t2[1:]

('two', 3.0)

In [6]:
t2[-1]

3.0

In [7]:
t3 = ('a', 'a', 'b')
t3.count('a') # Count() shows occurences of a specific item

2

In [8]:
t3.index('b') # index() Prints back index of the first occurence of a specific item

2

In [9]:
t3[0]

'a'

In [10]:
t2 + t3

(1, 'two', 3.0, 'a', 'a', 'b')

In [12]:
# t3[0] = 'AAA'   # THIS LINE DOES NOT WORK DUE TO TUPLE IMMUTABILITY

In [13]:
# SETS
mySet = set()

In [14]:
mySet.add(1)

In [15]:
mySet

{1}

In [17]:
mySet.add(2)
mySet

{1, 2}

In [18]:
mySet.add(2) # Not added because already 2 present
mySet

{1, 2}

In [20]:
# Sets are mostly useful for casting a list to a set in order to obtain unique list values:
myList2 = [2, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3]
set(myList2)

{1, 2, 3}

In [23]:
list('Mississippi')

['M', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']

In [25]:
mylist = [letter for letter in "Mississippi"]
mylist

['M', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']

In [26]:
numList = [num**2 for num in range(5)] # Perform square operation within list comprehension
numList

[0, 1, 4, 9, 16]

In [27]:
numList2 = [num for num in range(10) if num%2==0] # Conditionals within list comprehension
numList2

[0, 2, 4, 6, 8]

In [28]:
celsius = [0,10,20,34.5]

farenheit = [(9/5)*temp+32 for temp in celsius]
farenheit

[32.0, 50.0, 68.0, 94.1]