LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(x,y):
    if (x%2==0 and y%2==0):
        return min(x,y)
    else:
        return max(x,y)

In [2]:
lesser_of_two_evens(2,4)

2

In [3]:
lesser_of_two_evens(2,5)

5


ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [4]:
def animal_crackers(animal):
    words=animal.split()
    return words[0][0]==words[1][0]

In [5]:
animal_crackers('Levelheaded Llama')

True

In [6]:
animal_crackers('Crazy Kangaroo')

False


MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [7]:
def makes_twenty(x,y):
    return x==20 or y==20 or x+y==20

In [8]:
makes_twenty(20,10)

True

In [9]:
makes_twenty(12,8)

True

In [10]:
makes_twenty(2,3)

False


OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name¶
old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [13]:
def old_macdonald(name):
    name_arr = list(name)
    name_arr[0] = name_arr[0].upper()
    name_arr[3] = name_arr[3].upper()
    return ''.join(name_arr)

In [14]:
old_macdonald('macdonald')

'MacDonald'

In [75]:
# Better way using capitalize(), no need for lists or anything, just return string slices
def old_macdonald_2(name):
    first_slice = name[:3]
    second_slice = name[3:]
    return first_slice.capitalize()+second_slice.capitalize()

In [76]:
old_macdonald_2('macdonald')

'MacDonald'

# MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])
>>> "Hello world"

In [19]:
def master_yoda(phrase):
    return ' '.join(reversed(phrase.split()))

In [20]:
master_yoda('I am home')

'home am I'

In [21]:
master_yoda('We are ready')

'ready are We'


ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True

In [22]:
def almost_there(num):
    return abs(100-num)<=10 or abs(200-num)<=10

In [23]:
almost_there(90)

True

In [24]:
almost_there(104)

True

In [25]:
almost_there(150)

False

In [26]:
almost_there(209)

True


FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False

In [27]:
def has_33(arr):
    arr2 = [str(x) for x in arr]
    string = ''.join(arr2)
    return '33' in string

In [77]:
# Better way of solving
def has_33_2(arr):
    for i in range(len(arr)-1):
        if arr[i]==3 and arr[i+1]==3:
            return True
    return False

In [28]:
has_33([1,3,3])

True

In [29]:
has_33([1,3,1,3])

False

In [30]:
has_33([3,1,3])

False

In [78]:
has_33_2([1,3,1,3])

False

In [79]:
has_33_2([1,3,3,1])

True


PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [31]:
def paper_doll(word):
    arr = [letter*3 for letter in word]
    return ''.join(arr)

In [81]:
# Better way without needing a list
def paper_doll_2(word):
    string = ''
    for letter in word:
        string = string + (letter*3)
    return string

In [32]:
paper_doll('Hello')

'HHHeeellllllooo'

In [33]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [82]:
paper_doll_2('Hello')

'HHHeeellllllooo'


BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [45]:
def blackjack(x,y,z):
    total_sum = x+y+z
    if total_sum <= 21:
        return total_sum
    else:
        if 11 in (x,y,z):
            total_sum -= 10
        if total_sum > 21:
            return 'BUST'
        else:
            return total_sum

In [86]:
def blackjack_2(x,y,z):
    if sum([x,y,z]) <= 21:
        return sum([x,y,z])
    elif 11 in [x,y,z] and sum([x,y,z])-10 <= 21:
        return sum([x,y,z])-10
    else:
        return "BUST"

In [46]:
 blackjack(5,6,7)

18

In [47]:
blackjack(9,9,9)

'BUST'

In [48]:
blackjack(9,9,11)

19

In [87]:
blackjack_2(5,6,7)

18

In [88]:
blackjack_2(9,9,9)

'BUST'

In [89]:
blackjack_2(9,9,11)

19


SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14

In [51]:
def summer_69(arr):
    if 6 not in arr:
        return sum(arr)
    if len(arr) == 0:
        return 0
    while 6 in arr:
        six_index = arr.index(6)
        nine_index = arr.index(9)
        arr = arr[:six_index] + arr[(nine_index+1):]
    return sum(arr)

In [96]:
def summer_69_2(arr):
    # sum and boolean method
    add = True
    sum = 0
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num == 9:
                add = True
                break
            else:
                break

In [52]:
summer_69([1,3,5])

9

In [53]:
summer_69([4,5,6,7,8,9])

9

In [54]:
summer_69([2,1,6,9,11])

14

In [55]:
summer_69([2,1,6,3,4,3,4,9,4,3,6,3,3,9,2,1])

13

In [97]:
summer_69_2([2,1,6,3,4,3,4,9,4,3,6,3,3,9,2,1])

13

In [98]:
summer_69_2([1,3,5])

9


SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
 spy_game([1,2,4,0,0,7,5]) --> True
 spy_game([1,0,2,4,0,5,7]) --> True
 spy_game([1,7,2,0,4,5,0]) --> False

In [71]:
def spy_game(arr):
    if 0 not in arr or 7 not in arr:
        return False
    first_zero_index = arr.index(0)
    arr.remove(0)
    seven_index = arr.index(7)
    second_zero_index = arr.index(0)
    return first_zero_index <= second_zero_index < seven_index

In [108]:
def spy_game_2(arr):
    keep = [0,0,7,'x']
    for num in arr:
        if num == keep[0]:
            keep.pop(0)
    return len(keep) == 1

In [72]:
spy_game([1,2,4,0,0,7,5])

True

In [73]:
spy_game([1,0,2,4,0,5,7])

True

In [74]:
spy_game([1,7,2,0,4,5,0])

False

In [109]:
spy_game_2([1,2,4,0,0,7,5])

True

In [110]:
spy_game_2([1,7,2,0,4,5,0])

False


COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [115]:
def count_primes(number):
    if number < 2:
        return 0
    
    primes=[2]
    x=3
    while x <= number:
        for y in range(3,x,2):
            if x%y==0:
                print('{} divides into {}'.format(y, x))
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)

In [116]:
count_primes(10)

3 divides into 9
[2, 3, 5, 7]

In [139]:
def num_primes(num):
    arr=[2]
    for x in range(3,num,2):
        # Check if x is prime:
        for y in range(3,x,2):
            if x%y==0:
                break
        else:
            arr.append(x)
    print(arr)
    print(len(arr))

In [140]:
num_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
25

In [1]:
[1]*3

[1, 1, 1]