In [6]:
a = "bones"

In [10]:
a

'bones'

In [9]:
type(a)

str

In [11]:
a = 10
a

10

In [12]:
type(a)

int

In [21]:
s = "HelloThere"

In [22]:
s[-5]

'T'

In [24]:
s[0:5:2]

'Hlo'

In [27]:
s[::3] # step size of 3

'Hlhe'

In [28]:
s[::-1]

'erehTolleH'

In [29]:
name = "Sam"

In [31]:
# THIS DOES NOT WORK DUE TO STRING IMMUTABILITY:
# name[0] = 'P'

In [32]:
# THE ONLY WAY TO DO THIS IS THROUGH CONCATENATION:
name = 'P' + name[1:3]
name

'Pam'

In [33]:
name.upper()

'PAM'

In [34]:
samp = "Hi this is a string"

In [35]:
samp.split()

['Hi', 'this', 'is', 'a', 'string']

In [36]:
samp.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [37]:
inter_str = "This: {} and this: {} are both things".format('thing1', 'thing2')
inter_str

'This: thing1 and this: thing2 are both things'

In [39]:
fox_str = "That animal is the {2} {0} {1}".format('brown', 'fox', 'quick') # You can use index numbers in .format
fox_str

'That animal is the quick brown fox'

In [41]:
fox_str_2 = "That animal is the {q} {b} {f}".format(b='brown', f='fox', q='quick') # You can assign variables in .format
fox_str_2

'That animal is the quick brown fox'

#### Float formatting follows: "{value:width.precision f}"

In [42]:
result = 100/777
result

0.1287001287001287

In [63]:
print("The result was: {}".format(result))

The result was: 0.1287001287001287

In [64]:
print("The result was: {r:1.3f} lol".format(r=result))

The result was: 0.129 lol

In [65]:
print("The result was: {r:.3f} lol".format(r=result))

The result was: 0.129 lol

In [68]:
print(f"Hi, my the number is {result:.4f}") # Using fstring literals (new with python 3.6)

Hi, my the number is 0.1287